<a href="https://colab.research.google.com/github/Ashwith25/Marketing-Campaign-for-Banking-Products/blob/master/Internship_studio_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Marketing Campaign for Banking Products

The bank has a growing customer base. The bank wants to increase borrowers (asset
customers) base to bring in more loan business and earn more through the interest on
loans. So , the bank wants to convert the liability based customers to personal loan
customers. (while retaining them as depositors). A campaign that the bank ran last year
for liability customers showed a healthy conversion rate of over 9% success. The
department wants you to build a model that will help them identify the potential
customers who have a higher probability of purchasing the loan. This will increase the
success ratio while at the same time reduce the cost of the campaign.

<b> To deal with this problem, we will split the process into 9 steps for better understanding.

1. Import the datasets and libraries, check datatype, statistical summary, shape, null
values etc

We will be importing all the necessary libraries which will be required in our project.
- numpy and pandas for data analysis.
- matplotlib for drawing graphs

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plot
%matplotlib inline

Now we will be importing out CSV file which have the necessary data. Let's have a quick look on the data.

In [2]:
content = pd.read_csv("/content/drive/My Drive/internship_studio_project.csv")
content.head()

   ID  Age  Experience  ...  CD Account  Online  CreditCard
0   1   25           1  ...           0       0           0
1   2   45          19  ...           0       0           0
2   3   39          15  ...           0       0           0
3   4   35           9  ...           0       0           0
4   5   35           8  ...           0       0           1

[5 rows x 14 columns]

Now let's see if our data is completely/properly uploaded or not. This can be done either by looking at the shape or by looking at the end of the dataset.
Let's first see the end of the dataset.

In [3]:
content.tail()

        ID  Age  Experience  ...  CD Account  Online  CreditCard
4995  4996   29           3  ...           0       1           0
4996  4997   30           4  ...           0       1           0
4997  4998   63          39  ...           0       0           0
4998  4999   65          40  ...           0       1           0
4999  5000   28           4  ...           0       1           1

[5 rows x 14 columns]

To check the shape of the dataset, <b>shape</b> variable is used.

In [4]:
content.shape

(5000, 14)

It is necessary to initially check if all the data is proper or not. This we can do using <b>describe()</b>. This returns us all the necessary data such as mean, standard deviation, min, max, etc.

In [5]:
content.describe()

                ID          Age  ...       Online   CreditCard
count  5000.000000  5000.000000  ...  5000.000000  5000.000000
mean   2500.500000    45.338400  ...     0.596800     0.294000
std    1443.520003    11.463166  ...     0.490589     0.455637
min       1.000000    23.000000  ...     0.000000     0.000000
25%    1250.750000    35.000000  ...     0.000000     0.000000
50%    2500.500000    45.000000  ...     1.000000     0.000000
75%    3750.250000    55.000000  ...     1.000000     1.000000
max    5000.000000    67.000000  ...     1.000000     1.000000

[8 rows x 14 columns]

As we can see in the _Experience_ column, the <b>min</b> value is -3 which is not possible. This indicates that the cleaning of the data must be done. 

In a similar way as that of <b>describe()</b>, we can also see the datatypes and non-null value count by using an in-built function called <b>info()</b>. This will return the count of non-null values along with the datatype of thaat particular column.

In [6]:
content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

This completes our 1st step. All the necessary libraries are imported. We saw what all are the attributes of our Columns, based upon which some decisons were also taken where cleaning of the data is to be done as the _Experience_ column had some wrong data.

Now let's move onto our 2nd step.

2. Check if you need to clean the data for any of the variables

Firstly, let's first remove all the data which had wrong _Experience_.</br>
This we will be storing in a new variable.

In [7]:
content.isnull().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [8]:
new_content = content.where(content["Experience"]>=0).dropna()

Now let's see if our data is ready to be used or not by using <b>describe()</b> as used earlier.

In [9]:
new_content.describe()

                ID          Age  ...       Online   CreditCard
count  4948.000000  4948.000000  ...  4948.000000  4948.000000
mean   2501.268795    45.557195  ...     0.597009     0.294058
std    1443.277676    11.320735  ...     0.490549     0.455664
min       1.000000    24.000000  ...     0.000000     0.000000
25%    1254.750000    36.000000  ...     0.000000     0.000000
50%    2497.500000    46.000000  ...     1.000000     0.000000
75%    3750.250000    55.000000  ...     1.000000     1.000000
max    5000.000000    67.000000  ...     1.000000     1.000000

[8 rows x 14 columns]

As our aim is to predict whether a customer would opt for _Personal Loan_ or not, we will separate it from our dataset and store it in some other variable.<br>
The deletion of a column can be done using <b>drop()</b>. The _axis_ is set to 1 as the iteration is to be done on a column. The _inplace_ parameter saves the changes to the original dataset.

In [10]:
personal_loan = new_content["Personal Loan"]
new_content.drop("Personal Loan", axis=1, inplace=True)

As _ID_ will be different for each customer, it has nothing to with the customer taking the loan. So it is acting as noise in our dataset. Hence it will be better if removed. <br><br>
To check the significance of a column, we can check their correlation factor.

In [11]:
for i in new_content.columns:
    print(f"Correlation between {i} and Personal Loan is",new_content[i].corr(personal_loan))

Correlation between ID and Personal Loan is -0.025123894301036828
Correlation between Age and Personal Loan is -0.014203560746489142
Correlation between Experience and Personal Loan is -0.01412080970301723
Correlation between Income and Personal Loan is 0.5042276559680586
Correlation between ZIP Code and Personal Loan is 0.0002510467178026715
Correlation between Family and Personal Loan is 0.06308797762627483
Correlation between CCAvg and Personal Loan is 0.36938792955748107
Correlation between Education and Personal Loan is 0.1383390364475152
Correlation between Mortgage and Personal Loan is 0.14232184189537317
Correlation between Securities Account and Personal Loan is 0.022215862315837633
Correlation between CD Account and Personal Loan is 0.31576939842819973
Correlation between Online and Personal Loan is 0.006175184362285571
Correlation between CreditCard and Personal Loan is 0.002775729174601692

As we can see, _ID, Age_ and _Experience_ are hardly even related to our target variable. _Income_ plays a important role in customer taking the personal loan. So we can drop the noisy columns (_ID, Age_ and _Experience_) to make our prediction for efficient.

In [ ]:
new_content.drop(["ID", "Age", "Experience"], axis=1, inplace=True)
new_content

This completes are 2nd step. Till now we have imported the necessary libraries and cleaned our data.<br><br>
Now let's move on to step 3 where we'll be studying our dataset.

In [ ]:
for i in new_content.columns:
    print(f"Unique elements of {i} are {new_content[i].unique()}")

In [ ]:
len(new_content.where(new_content["Mortgage"]==0).dropna())

In [ ]:
len(new_content.where(new_content["CCAvg"]==0).dropna())

In [88]:
education = new_content["Education"].value_counts()
features = ["Securities Account", "CD Account", "Online", "CreditCard"]
yes_no = {0:"No", 1:"Yes"}
degree = {1: "Undergraduate", 2: "Graduate", 3:"Advanced/Professional"}

In [ ]:
print("Details of Customers opting for,")
for i in features:
    print(f"\n{i}:")
    y_n = new_content[i].value_counts()
    for j in y_n.index:
        print(f"{yes_no[j]}:\t {y_n.loc[j]}")
print("\nEducation levels of Customers are,")
for i in education.index:
    print(f"{degree[i]}: {education.loc[i]}")

In [ ]:
print(new_content["Securities Account"].value_counts())
print(new_content["CD Account"].value_counts())
print(new_content["Online"].value_counts())
print(new_content["CreditCard"].value_counts())